import /init.grand.rc

on post-fs-data
    setprop ro.crypto.keyfile.userdata /dev/block/platform/msm_sdcc.1/by-name/encrypt

on boot

    write /dev/wcnss_wlan 1
    write /sys/module/wcnss_ssr_8960/parameters/enable_riva_ssr 1

    # Create the directories used by the Wireless subsystem
    mkdir /data/misc/wifi 0770 wifi wifi
    mkdir /data/misc/wifi/sockets 0770 wifi wifi
    mkdir /data/misc/wifi/wpa_supplicant 0770 wifi wifi
    mkdir /data/misc/dhcp 0770 dhcp dhcp

    # Workaround for conn_init not copying the updated firmware
    rm /data/misc/wifi/WCNSS_qcom_cfg.ini
    rm /data/misc/wifi/WCNSS_qcom_wlan_nv.bin


    chmod 0660 /dev/ttyGS0
    chown system system /dev/ttyGS0

# LGE_CHANGE_S, [G1_Player][bokyung.kim@lge.com], 20120429, add pmsc folder to use secure time {
    mkdir /data/pmsc 0777 system system
    chown system system /data/pmsc
    chmod 0777 /data/pmsc
# LGE_CHANGE_E, [G1_Player][bokyung.kim@lge.com], 20120429, add pmsc folder to use secure time }

# NFC Feature
   chmod 0666 /dev/pn544
    setprop ro.qualcomm.bluetooth.map false

# changsoon2.park@lge.com : snd_cards check! if there is no sound card, make phone crash
    write /sys/module/snd_soc_wcd9310/parameters/snd_check 1
    write /sys/module/subsystem_restart/parameters/restart_level 3

on post-fs

service conn_init /system/bin/logwrapper /system/bin/conn_init
    class late_start
    user system
    group system wifi
    oneshot

    insmod /system/lib/modules/prima/prima_wlan.ko

service broadcast /system/bin/libbroadcast_server
    class main
    user media
    group system audio media graphics sdcard_rw
